<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Buscar localização"
      name="city"
      [(ngModel)]="initialCityName"
    />

    <span (click)="onSubmit()">
      <fa-icon
        animation="fade"
        style="--fa-animation-duration: 5s; cursor: pointer0"
        size="lg"
        class="search-icon"
        [icon]="searchIcon"
      ></fa-icon>
    </span>
  </form>
</div>

<!-- componente filho recebendo dados
O [weatherDatasInput] é o @Input que esta no componente filho e o "weatherDatas" é os,
dados de clima que estão vindo da API-->

<!-- *ngIf o componente só será renderizado quando tiver o weatherDatas -->
<app-weather-card
  *ngIf="weatherDatas"
  [weatherDatasInput]="weatherDatas"
></app-weather-card>
